@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Seaweed+Script&display=swap');

@layer base {
    body{
        @apply font-default text-base m-0 p-0
        
    }
}
@layer components {
    .show {
        transform: translateX(-120%);
    }
    .show1 {
        z-index: 10;
        opacity: 0;
        visibility: hidden;
    }
    .owl-carousel .owl-item img {
        width: auto;
    }
}
